In [287]:
import pandas as pd

In [288]:
# assign the country csv file to a variable
predict_path = ('../raw_data/country_prediction_raw.csv')

# read the csv file
country_predict = pd.read_csv(predict_path)
country_predict

,cca2,name,pop2020,pop2019,pop2050,pop2030,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970,area,Density,GrowthRate,WorldPercentage,rank
0,CN,China,1442166775,1433783.686,1402405.170,1464340.159,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394,9706961,148.2775,1.0039,0.1847,1.0
1,IN,India,1387177258,1366417.754,1639176.033,1503642.322,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792,3287590,419.7617,1.0099,0.1770,2.0
2,US,United States,332041150,329064.917,379419.102,349641.876,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341,9372610,35.3160,1.0059,0.0425,3.0
3,ID,Indonesia,275056196,270625.568,330904.664,299198.430,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178,1904569,143.6144,1.0107,0.0351,4.0
4,PK,Pakistan,223154088,216565.318,338013.196,262958.794,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060,881912,250.4698,1.0200,0.0283,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,MS,Montserrat,4992,4.989,4.153,4.763,4.967,4.899,4.929,10.615,11.607,11.534,102,48.9412,1.0006,0.0000,228.0
228,FK,Falkland Islands,3480,3.377,3.243,3.436,2.834,2.901,2.892,1.982,1.854,1.992,12173,0.2859,1.0305,0.0000,229.0
229,NU,Niue,1626,1.615,1.778,1.664,1.619,1.618,1.899,2.329,3.404,5.135,260,6.2538,1.0068,0.0000,230.0
230,TK,Tokelau,1357,1.340,1.565,1.448,1.252,1.140,1.554,1.608,1.553,1.621,12,113.0833,1.0127,0.0000,231.0
231,VA,Vatican City,801,0.814,0.795,0.803,0.794,0.785,0.768,0.724,0.644,1.000,801,1.0025,0.0000,232.0000,NaN

In [289]:
# delete unecessary columns
del country_predict['cca2'], country_predict['area'], country_predict['Density'], country_predict['GrowthRate'], country_predict['WorldPercentage'], country_predict['rank']

In [290]:
country_predict

,name,pop2020,pop2019,pop2050,pop2030,pop2015,pop2010,pop2000,pop1990,pop1980,pop1970
0,China,1442166775,1433783.686,1402405.170,1464340.159,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394
1,India,1387177258,1366417.754,1639176.033,1503642.322,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792
2,United States,332041150,329064.917,379419.102,349641.876,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341
3,Indonesia,275056196,270625.568,330904.664,299198.430,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178
4,Pakistan,223154088,216565.318,338013.196,262958.794,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060
...,...,...,...,...,...,...,...,...,...,...,...
227,Montserrat,4992,4.989,4.153,4.763,4.967,4.899,4.929,10.615,11.607,11.534
228,Falkland Islands,3480,3.377,3.243,3.436,2.834,2.901,2.892,1.982,1.854,1.992
229,Niue,1626,1.615,1.778,1.664,1.619,1.618,1.899,2.329,3.404,5.135
230,Tokelau,1357,1.340,1.565,1.448,1.252,1.140,1.554,1.608,1.553,1.621
231,Vatican City,801,0.814,0.795,0.803,0.794,0.785,0.768,0.724,0.644,1.000

In [291]:
# rename the columns
country_predict.rename(columns={
    'name':'Country',
    'pop2020':'2020',
    'pop2019':'2019',
    'pop2050':'2050',
    'pop2030':'2030',
    'pop2015':'2015',
    'pop2010':'2010',
    'pop2000':'2000',
    'pop1990':'1990',
    'pop1980':'1980',
    'pop1970':'1970',
 },inplace=True)

In [292]:
country_predict

,Country,2020,2019,2050,2030,2015,2010,2000,1990,1980,1970
0,China,1442166775,1433783.686,1402405.170,1464340.159,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394
1,India,1387177258,1366417.754,1639176.033,1503642.322,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792
2,United States,332041150,329064.917,379419.102,349641.876,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341
3,Indonesia,275056196,270625.568,330904.664,299198.430,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178
4,Pakistan,223154088,216565.318,338013.196,262958.794,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060
...,...,...,...,...,...,...,...,...,...,...,...
227,Montserrat,4992,4.989,4.153,4.763,4.967,4.899,4.929,10.615,11.607,11.534
228,Falkland Islands,3480,3.377,3.243,3.436,2.834,2.901,2.892,1.982,1.854,1.992
229,Niue,1626,1.615,1.778,1.664,1.619,1.618,1.899,2.329,3.404,5.135
230,Tokelau,1357,1.340,1.565,1.448,1.252,1.140,1.554,1.608,1.553,1.621
231,Vatican City,801,0.814,0.795,0.803,0.794,0.785,0.768,0.724,0.644,1.000

In [293]:
# Get the top 10 countries
country_predict = country_predict.head(10)
country_predict

,Country,2020,2019,2050,2030,2015,2010,2000,1990,1980,1970
0,China,1442166775,1433783.686,1402405.170,1464340.159,1406847.870,1368810.615,1290550.765,1176883.674,1000089.235,827601.394
1,India,1387177258,1366417.754,1639176.033,1503642.322,1310152.403,1234281.170,1056575.549,873277.798,698952.844,555189.792
2,United States,332041150,329064.917,379419.102,349641.876,320878.310,309011.475,281710.909,252120.309,229476.354,209513.341
3,Indonesia,275056196,270625.568,330904.664,299198.430,258383.256,241834.215,211513.823,181413.402,147447.836,114793.178
4,Pakistan,223154088,216565.318,338013.196,262958.794,199426.964,179424.641,142343.578,107647.921,78054.343,58142.060
5,Brazil,213344896,211049.527,228980.400,223852.122,204471.769,195713.635,174790.340,149003.223,120694.009,95113.265
6,Nigeria,208873242,200963.599,401315.000,262977.337,181137.448,158503.197,122283.850,95212.450,73423.633,55982.144
7,Bangladesh,165549495,163046.161,192567.778,178993.869,156256.276,147575.430,127657.854,103171.956,79639.491,64232.482
8,Russia,145960882,145872.256,135824.481,143347.515,144985.057,143479.274,146404.903,147531.561,138053.150,130148.653
9,Mexico,129649385,127575.529,155150.818,140875.762,121858.258,114092.963,98899.845,83943.132,67761.372,51493.565

In [294]:
# Remove unecessary characters
country_predict['2020'] = country_predict['2020'].astype(str)
country_predict['2020'] = country_predict['2020'].str.replace('.', '')
country_predict['2019'] = country_predict['2019'].astype(str)
country_predict['2019'] = country_predict['2019'].str.replace('.', '')
country_predict['2050'] = country_predict['2050'].astype(str)
country_predict['2050'] = country_predict['2050'].str.replace('.', '')
country_predict['2030'] = country_predict['2030'].astype(str)
country_predict['2030'] = country_predict['2030'].str.replace('.', '')
country_predict['2015'] = country_predict['2015'].astype(str)
country_predict['2015'] = country_predict['2015'].str.replace('.', '')
country_predict['2010'] = country_predict['2010'].astype(str)
country_predict['2010'] = country_predict['2010'].str.replace('.', '')
country_predict['2000'] = country_predict['2000'].astype(str)
country_predict['2000'] = country_predict['2000'].str.replace('.', '')
country_predict['1990'] = country_predict['1990'].astype(str)
country_predict['1990'] = country_predict['1990'].str.replace('.', '')
country_predict['1980'] = country_predict['1980'].astype(str)
country_predict['1980'] = country_predict['1980'].str.replace('.', '')
country_predict['1970'] = country_predict['1970'].astype(str)
country_predict['1970'] = country_predict['1970'].str.replace('.', '')
country_predict

,Country,2020,2019,2050,2030,2015,2010,2000,1990,1980,1970
0,China,1442166775,1433783686,140240517,1464340159,140684787,1368810615,1290550765,1176883674,1000089235,8276013940000001
1,India,1387177258,1366417754,1639176033,1503642322,1310152403,123428117,1056575549,873277798,698952844,555189792
2,United States,332041150,329064917,379419102,349641876,32087831,309011475,281710909,25212030899999998,229476354,20951334100000001
3,Indonesia,275056196,270625568,330904664,29919843,25838325600000002,241834215,211513823,181413402,147447836,11479317800000001
4,Pakistan,223154088,216565318,338013196,262958794,19942696399999998,179424641,142343578,107647921,78054343,5814206
5,Brazil,213344896,211049527,2289804,223852122,20447176899999997,195713635,17479034,149003223,120694009,95113265
6,Nigeria,208873242,200963599,4013150,262977337,181137448,158503197,12228385,9521245,73423633,55982144
7,Bangladesh,165549495,163046161,19256777800000002,17899386899999998,15625627599999998,14757543,127657854,10317195599999999,79639491,64232482
8,Russia,145960882,145872256,135824481,143347515,144985057,143479274,14640490300000002,147531561,13805315,130148653
9,Mexico,129649385,12757552900000001,155150818,140875762,121858258,114092963,98899845,83943132,67761372,51493565

In [295]:
# Update the incorrect values
country_predict['2019'] = country_predict['2019'].str.replace('12757552900000001', '127575529')
country_predict['2050'] = country_predict['2050'].str.replace('140240517', '1402405170')
country_predict['2050'] = country_predict['2050'].str.replace('19256777800000002', '192567778')
country_predict['2050'] = country_predict['2050'].str.replace('2289804', '228980400')
country_predict['2050'] = country_predict['2050'].str.replace('4013150', '401315000')
country_predict['2030'] = country_predict['2030'].str.replace('17899386899999998', '178993869')
country_predict['2030'] = country_predict['2030'].str.replace('29919843', '299198430')
country_predict['2015'] = country_predict['2015'].str.replace('140684787', '1406847870')
country_predict['2015'] = country_predict['2015'].str.replace('32087831', '320878310')
country_predict['2015'] = country_predict['2015'].str.replace('25838325600000002', '258383256')
country_predict['2015'] = country_predict['2015'].str.replace('19942696399999998', '199426964')
country_predict['2015'] = country_predict['2015'].str.replace('20447176899999997', '204471769')
country_predict['2015'] = country_predict['2015'].str.replace('15625627599999998', '156256276')
country_predict['2010'] = country_predict['2010'].str.replace('123428117', '1234281170')
country_predict['2010'] = country_predict['2010'].str.replace('17479034', '174790340')
country_predict['2000'] = country_predict['2000'].str.replace('14640490300000002', '146404903')
country_predict['2000'] = country_predict['2000'].str.replace('17479034', '174790340')
country_predict['2000'] = country_predict['2000'].str.replace('12228385', '122283850')
country_predict['1990'] = country_predict['1990'].str.replace('25212030899999998', '252120309')
country_predict['1990'] = country_predict['1990'].str.replace('10317195599999999', '103171956')
country_predict['1990'] = country_predict['1990'].str.replace('9521245', '95212450')
country_predict['1980'] = country_predict['1980'].str.replace('13805315', '138053150')
country_predict['1970'] = country_predict['1970'].str.replace('5814206', '58142060')
country_predict['1970'] = country_predict['1970'].str.replace('8276013940000001', '827601394')
country_predict['1970'] = country_predict['1970'].str.replace('20951334100000001', '209513341')
country_predict['1970'] = country_predict['1970'].str.replace('11479317800000001', '114793178')
country_predict

,Country,2020,2019,2050,2030,2015,2010,2000,1990,1980,1970
0,China,1442166775,1433783686,1402405170,1464340159,1406847870,1368810615,1290550765,1176883674,1000089235,827601394
1,India,1387177258,1366417754,1639176033,1503642322,1310152403,1234281170,1056575549,873277798,698952844,555189792
2,United States,332041150,329064917,379419102,349641876,320878310,309011475,281710909,252120309,229476354,209513341
3,Indonesia,275056196,270625568,330904664,299198430,258383256,241834215,211513823,181413402,147447836,114793178
4,Pakistan,223154088,216565318,338013196,262958794,199426964,179424641,142343578,107647921,78054343,58142060
5,Brazil,213344896,211049527,228980400,223852122,204471769,195713635,174790340,149003223,120694009,95113265
6,Nigeria,208873242,200963599,401315000,262977337,181137448,158503197,122283850,95212450,73423633,55982144
7,Bangladesh,165549495,163046161,192567778,178993869,156256276,14757543,127657854,103171956,79639491,64232482
8,Russia,145960882,145872256,135824481,143347515,144985057,143479274,146404903,147531561,138053150,130148653
9,Mexico,129649385,127575529,155150818,140875762,121858258,114092963,98899845,83943132,67761372,51493565

In [296]:
# Re-arrange the columns
country_predict = country_predict[['Country', '1970', '1980', '1990', '2000', '2010', '2015', '2019', '2020', '2030' , '2050']]
country_predict.set_index("Country", inplace = True)
country_predict

,1970,1980,1990,2000,2010,2015,2019,2020,2030,2050
Country,,,,,,,,,,
China,827601394,1000089235,1176883674,1290550765,1368810615,1406847870,1433783686,1442166775,1464340159,1402405170
India,555189792,698952844,873277798,1056575549,1234281170,1310152403,1366417754,1387177258,1503642322,1639176033
United States,209513341,229476354,252120309,281710909,309011475,320878310,329064917,332041150,349641876,379419102
Indonesia,114793178,147447836,181413402,211513823,241834215,258383256,270625568,275056196,299198430,330904664
Pakistan,58142060,78054343,107647921,142343578,179424641,199426964,216565318,223154088,262958794,338013196
Brazil,95113265,120694009,149003223,174790340,195713635,204471769,211049527,213344896,223852122,228980400
Nigeria,55982144,73423633,95212450,122283850,158503197,181137448,200963599,208873242,262977337,401315000
Bangladesh,64232482,79639491,103171956,127657854,14757543,156256276,163046161,165549495,178993869,192567778
Russia,130148653,138053150,147531561,146404903,143479274,144985057,145872256,145960882,143347515,135824481
Mexico,51493565,67761372,83943132,98899845,114092963,121858258,127575529,129649385,140875762,155150818

In [297]:
# export the population_ratio to a csv file
country_predict.to_csv("../clean_data/country_prediction.csv")