In [9]:
import pandas as pd

In [10]:
# url for the country population
country_url ="https://worldpopulationreview.com/"

# Use panda's `read_html` to parse the url
country = pd.read_html(country_url, header=0)[0]
country

,Flag,Country,2021 (Live),2019 Population,Area,2019 Density,Growth Rate,World %,Rank
0,NaN,China,1442166775,1433783686,"9,706,961 km²",148/km²,0.39%,18.47%,1
1,NaN,India,1387177258,1366417754,"3,287,590 km²",420/km²,0.99%,17.70%,2
2,NaN,United States,332041150,329064917,"9,372,610 km²",35/km²,0.59%,4.25%,3
3,NaN,Indonesia,275056196,270625568,"1,904,569 km²",144/km²,1.07%,3.51%,4
4,NaN,Pakistan,223154088,216565318,"881,912 km²",250/km²,2.00%,2.83%,5
...,...,...,...,...,...,...,...,...,...
227,NaN,Montserrat,4992,4989,102 km²,49/km²,0.06%,0.00%,228
228,NaN,Falkland Islands,3480,3377,"12,173 km²",0/km²,3.05%,0.00%,229
229,NaN,Niue,1626,1615,260 km²,6/km²,0.68%,0.00%,230
230,NaN,Tokelau,1357,1340,12 km²,113/km²,1.27%,0.00%,231
231,NaN,Vatican City,801,799,1 km²,801/km²,0.25%,0.00%,232

In [11]:
# save the country dataframe to a CSV file
country.to_csv("../raw_data/country.csv")

In [12]:
# url for the city population
city_url ="https://worldpopulationreview.com/world-cities"

# Use panda's `read_html` to parse the url
city = pd.read_html(city_url, header=0)[0]
city

,Rank,Name,Country,2020 Population,2019 Population,Change
0,1,Tokyo,Japan,37393128,37435192.0,-0.11%
1,2,Delhi,India,30290936,29399140.0,3.03%
2,3,Shanghai,China,27058480,26317104.0,2.82%
3,4,Sao Paulo,Brazil,22043028,21846508.0,0.90%
4,5,Mexico City,Mexico,21782378,21671908.0,0.51%
...,...,...,...,...,...,...
1140,1141,Tanta,Egypt,501423,NaN,NaN
1141,1142,Sacramento,United States,500930,500930.0,0.00%
1142,1143,Chuxiong,China,500867,NaN,NaN
1143,1144,Douai Lens,France,500776,501078.0,-0.06%
1144,1145,Ziyang,China,500094,NaN,NaN

In [13]:
# save the city dataframe to a CSV file
city.to_csv("../raw_data/city.csv")